body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1e1e1e;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(202, 216, 196, 0.805);
    width: 100%;
    max-width: 600px;
    text-align: center;
    border: 1px solid white;
}

h1 {
    margin-bottom: 1rem;
    color: #ffffff;
}

.instructions-box {
    border: 1px solid whitesmoke;
    padding: 0.25rem;
    border-radius: 5px;
    margin: 0 auto 1rem;
    text-align: left;
    line-height: 1.2; 
    width: 380px;
}

.instructions-box ul {
    padding-left: 20px;
    margin: 0;
}

.instructions-box p {
    padding-left: 5px;
}

.form-group {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.form-group label {
    flex: 0 0 200px;
    text-align: left;
    margin-right: -20px;
    color: #e0e0e0;
}

input[type="date"],
input[type="number"] {
    flex: 1;
    max-width: 200px;
    padding: 0.5rem;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
    margin-bottom: 1rem;
}

button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}

.result {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #ffffff;
}

@media (max-width: 360px) {
    .instructions-box {
        width: 100%;
        padding: 0.5rem;
    }

    .container {
        padding: 1rem;
        max-width: 100%;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group label {
        margin-bottom: 0.5rem;
    }

    input[type="date"],
    input[type="number"] {
        max-width: 100%;
    }

    button {
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    .result {
        font-size: 1rem;
    }
}